html {
    height           : 100%;
}

* {
  box-sizing: border-box;
}

body {
    width               : 100%;
    min-width           : 480px;
    height              : 100%;
    background-color    : white;    
}

body, pre, code {
    font-family     : "Droid Sans Mono", "Ubuntu Mono", "Consolas", monospace;
    font-size       : 14px;
    color: #222;
}

.hidden {
    display: none !IMPORTANT;
}

.fm, .keyspanel {
    -webkit-user-select : none;
    -moz-user-select    : none;
    -ms-user-select     : none;
    -o-user-select      : none;
    user-select         : none;
}

.links {
    -webkit-user-select : initial;
    -moz-user-select    : initial;
    -ms-user-select     : initial;
    -o-user-select      : initial;
}

a, a:visited, a:active {
    text-decoration:none;    
    color : #444;    
}

*:focus {
    outline: 0;
}

.reduce-text {
    text-overflow   : ellipsis;
    white-space     : nowrap;
    overflow: hidden;
}


.keyspanel {
  height: 50px;
  padding: 10px;
}

.panel, .cmd-button {
    border: 1.5px solid;
    border-color: rgba(49,123,249, 0.4);
    border-radius: 4px;
}

.cmd-button {
    width: 30px;
    height: 30px;        
    background-color: white;
    transition: ease 0.4s;
    float: left;
    margin-right: 4px;
    cursor: pointer;
}

.cmd-button:hover {
    border-color: #000;
}

.cmd-button:active {
    color: white;
    background-color: rgb(49,123,249);
}

.fm {
    width : 100%;
    height: calc(100% - 50px);
    padding: 8px;
    padding-top: 0;
}

.fm.split .panel {
    width: calc(50% - 4px);
    display: block;
}

.panel {
    width: 100%;
    height: 100%;
    padding: 8px 0;
    overflow: hidden;
    opacity: 0.5;
    display: none;
}

.panel.active {
  opacity: 1;
  display: block;
}

.panel-left {
    float:left;
}

.panel-right {
    float:right;
}

.links-path, .fm-header {
    padding-left: 8px;
}

.path-icon {
    position: relative;
    color: #222;
}

.path-icon:hover {
    color : #06e;
}

.links {
    color: #888;
}

.links a {
    color: #222;
}

.fm-header {
    font-weight: bold;
}

.error::before {
    font-family : 'Fontello';
    font-size   : 14px;
    color       : rgb(222, 41, 41);
    cursor      : default;
    content     : '\e800';
}

.loading {
    position        : relative;
    display         : inline-block;
    width           : 16px;
    height          : 16px;
    vertical-align  : middle;
}

.loading::after {
    position    : relative;
    bottom      : 5px;
    left        : 16px;
    font-size   : 10px;
    color       : rgb(49,123,249);
    content     : attr(data-progress);
}

.current-file {
    background-color : rgba(220,220,255,0.4);
    box-shadow: 0 0 0 1.5px rgba(49, 123, 249, 0.4) inset;
}

.cut-file {
    opacity: 0.7;
}

.selected-file, .selected-file .name > a {
    background-color : rgba(220,220,255,0.2);
    box-shadow: 0 0 0 1.5px rgba(49, 123, 249, 0.4) inset;
}

.selected-panel {
    border-color: rgba(254, 159, 224, .8);
}

.mini-icon {    
    font            : 16px 'Fontello';
    padding: 0 2px 1px 4px;
    overflow: hidden;
    width: 20px;
}

.name {
    width: calc(100% - 280px);
}

.size {
    width: 50px;
    text-align: right;
}

.owner {
    margin-left: 2%;
    width: 50px;
}

.mode {
  width: 100px;
}

.files {
    padding: 0;
    margin: 0 0 0 2px;
    list-style-type: none;
    height: calc(100% - 36px);   
}

.files li {
  padding: 2px;
}

.files li:hover, .links a:hover {
  cursor: pointer;
  background-color : rgba(220,220,255,0.5);
}

.files li span, .fm-header span {
  display: inline-block;
  vertical-align: top;
}

.fm .icon-directory::before {
  color: rgba(246, 224, 124, 0.8);
}
.fm .icon-file::before {
  color: rgba(26, 224, 124, 0.8);
}
